@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/Background.svg);
    height: 100vh;
}

/* Menu lateral */
nav{
    background-image: url(img/FunoMenu.jpg);
    height: 100%;
    width: 300px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
}

nav #perfil{
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin-bottom: 20px;
}
nav div a{
    text-decoration: none;
    color: white;
    font-family: "Koulen", sans-serif;
    font-size: 20px;
}

nav div img{
    height: 30px;
}

nav div{
    display: flex;
    align-items: center;
}

.pes2, .cat2, .fav2, .min2, .sai2{
    visibility: hidden;
}

.pes:hover + .pes2{
    visibility: visible;
}
.cat:hover + .cat2{
    visibility: visible;
}
.fav:hover + .fav2{
    visibility: visible;
}
.min:hover + .min2{
    visibility: visible;
}
.sai:hover + .sai2{
    visibility: visible;
}

#sombra{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.662);
    top: 0;
    left: 0;
    z-index: -1;
}

#fecharmenu{
    width: 50px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.fechado{
    transform: translateX(-300px);
}
.aberto{
    transform: translateX(0px);
}
/* ------------------------------------------ */

.menu img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

section{
    position: relative;
}

section:hover > .sessao::-webkit-scrollbar-thumb{
    visibility: visible;
}

.sessao{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    overflow-x: auto;
}

.sessao::-webkit-scrollbar{
    height: 10px;
}

.sessao::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), red, rgba(255, 255, 255, 0));
    border-radius: 50px;
    visibility: hidden;
}

.titulo{
    font-family: "Koulen", sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

.sessao .navfilmes{
    width: max-content;
    height: 200px;
    display: flex;
    align-items: center;
}

.sessao .navfilmes .filme{
    background-color: white;
    height: 180px;
    width: 126px;
    border-radius: 5px;
    margin: 10px;
}

/* Hover filmes */
.filme:hover{
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
}

.filme .capa{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}